<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="pepe" value="mipassword"/>
  </appSettings>
  <connectionStrings>
    <add name="mydb" connectionString="Server=softtek-mssql.database.windows.net;Database=SEGURANZA;User Id=softtek-dba; Password=YMC2kF2e;"/>
  </connectionStrings>
</configuration>